<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-10 col-md-offset-1">
                <h3 class="archive-title"><%=cateInfo.name%></h3>
                <% include ../public/itemListTemp %>
                <% include ../public/pagination %>
            </div>
        </div>
    </div>
</div>