<!--用户中心-->
<script src="/javascripts/angular.min.js"></script>
<div class="container" ng-app="webApp">
    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2" style="margin-top: 50px;margin-bottom: 50px;">
            <% include ../public/uInfo %>
        </div>
    </div>
</div>