<!--尾部模板-->
<!--footer begin-->
<div class="footer">
    <div class="container">

        <p id="banquan">自豪的采用&nbsp;<a href="###">DoraCMS</a>&nbsp;Copyright (c) 2013 <a href="http://html-js.cn" target="_blank">html-js.cn.</a> All Rights Reserved 粤ICP备15038960号-1</p>
    </div>
</div>
<!--footer end-->

<div id="cbbfixed">
    <a href="###" class="cbbtn" id="cweixin">
        <span class="yy-icon yy-weixin"></span>
        <div></div>
    </a>
    <a href="###" class="cbbtn" id="gotop">
        <span class="yy-icon yy-gt"></span>
    </a>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/themes/<%=staticforder%>/js/blue.js" type="text/javascript"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/themes/<%=staticforder%>/js/ie10-viewport-bug-workaround.js"></script>